.root{
    width: 100%;
    height: 100vh ;
    background-color: black;
    z-index: 0;
  }
  
  .picture{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    opacity: 0.6;
    z-index: 1;
  }

  .hero p{
    display: none;
  }

  .hero h3{
    margin-bottom: 150px !important;
    font-weight: 500 !important;
    font-size: 40px !important;
    text-shadow: 3px 3px #000 !important;
  }