.header{
    padding:20px  0;
}

.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 1px;
    padding: 10px;
    border: 1px solid #fff;
    margin-left: 20px;
}