.root{
    background-color: #333;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
}
.text{
  text-align: center;
  margin:0 auto;
  max-width: 800px;
  font-size: 20px;
  font-weight: 500;
}
.header{
  
  padding: 10px;
  border:2px solid #ffc421;
}
